<%-include('partials/header') %>
<section class="w-full h-full gap-10  my-40">
  <article class="">
    <div class="flex flex-col items-center gap-10">
      <div class="max-w-2xl text-center">
        <h1 class="text-5xl font-bold mb-4">
          ¿Qué es el dengue y donde es frecuente?
        </h1>
        <p class="text-sm">
          El dengue es un virus transmitido por mosquitos que se propaga
          principalmente a través del mosquito Aedes aegypti, también conocido
          por ser portador de otros virus como la fiebre amarilla, el
          chikungunya y el zika.
        </p>
      </div>

      <img src="/images/imageUno.jpg" alt="" />
    </div>
  </article>
  <article class="mt-20">
    <div class="grid grid-col-1 md:grid-cols-2 gap-10 p-2 md:p-10">
      <div class="hidden md:block">
        <img src="/images/imageDos.jpg" alt="" />
      </div>
      <div class="flex flex-col justify-center gap-5">
        <h2 class="text-3xl font-bold">Síntomas del dengue</h2>
        <p class="text-sm">
          Solo una de cada cuatro personas infectadas por el dengue presenta
          síntomas.
        </p>
        <p class="text-sm">
          El síntoma más común es la fiebre, pero también puede causar náuseas,
          vómitos, erupciones cutáneas o dolores, normalmente detrás de los ojos
          o musculares, articulares u óseos.
        </p>
        <p class="text-sm">
          Existen cuatro cepas del virus, o serotipos, según la Organización
          Mundial de la Salud. Una vez que alguien contrae una de las cepas, no
          puede volver a infectarse. Pero cuantas más veces se infecte una
          persona con cepas diferentes, más probabilidades tendrá de enfermar
          gravemente.
        </p>
        <p class="text-sm">
          El dengue grave es menos frecuente: lo padece una de cada 20 personas.
          Pero los síntomas son más preocupantes. Puede causar shock,
          hemorragias internas e incluso la muerte.
        </p>
        <p class="text-sm">
          Según los CDC, cada año enferman en el mundo unos 100 millones de
          personas y 40.000 mueren de dengue grave.
        </p>
      </div>
      <div class="flex md:hidden">
        <img src="/images/imageDos.jpg" alt="" />
      </div>
    </div>
  </article>
  <article class="mt-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 p-2 md:p-10">
      <div class="flex flex-col justify-center gap-5">
        <h2 class="text-3xl font-bold">Pruebas del dengue</h2>
        <p class="text-sm">
          Si enfermas y vives en una zona donde el dengue podría estar
          propagándose o viajaste a un lugar donde el virus es frecuente, los
          CDC recomiendan consultar al médico.
        </p>

        <p class="text-sm">
          La única forma definitiva de saber si se tiene el virus es mediante
          análisis de sangre, que varían de un lugar a otro, dijo Paz-Bailey.
        </p>

        <p class="text-sm">
          La recomendación general es hacer una prueba PCR, dice, si los
          síntomas comenzaron en una semana o menos.
        </p>

        <p class="text-sm">
          "Si la persona presenta más allá de la ventana de siete días, se
          recomienda una prueba serológica para medir los anticuerpos IgM", dijo
          Paz-Bailey.
        </p>

        <p class="text-sm">
          Los resultados pueden tardar entre un día y una semana.
        </p>
      </div>
      <div>
        <img src="/images/imageDos.jpg" alt="" />
      </div>
    </div>
  </article>
  <article class="mt-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 p-2 md:p-10">
      <div class="hidden md:block">
        <img src="/images/imageDos.jpg" alt="" />
      </div>
      <div class="flex flex-col justify-center gap-5">
        <h2 class="text-3xl font-bold">
          ¿Cómo prevenir la picadura del mosquito?
        </h2>
        <p class="text-sm">
          Si bien las medidas que tienden a eliminar los potenciales criaderos
          son las más importantes para evitar la reproducción del mosquito,
          también podemos utilizar algunas estrategias para evitar que los
          mosquitos nos piquen.
        </p>
       
      </div>
      <div class="flex md:hidden">
        <img src="/images/imageDos.jpg" alt="" />
      </div>
    </div>
  </article>
</section>
<a href="/index"></a>
<%-include('partials/footer') %>
